$cream: #faf2eb;
$white: #fff;
$black: #000;
$dark-blue: #0e093f;
$faded-blue: #4a476f;
$light-grey: rgb(231, 232, 237);
$blush: #da627d;
$maroon: #a53860;
$dark-pink: #450920;
$light-pink: #fae0e4;

$padding-mobile: 0 1.5rem;
$padding-web: 0 7.5rem;

$header-font: "Roboto", sans-serif;
$regular-font: "Source Sans Pro", sans-serif;
